# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
env/
.venv/

# IDE
.idea/
.vscode/

# Secrets
.env
.env.*

# Logs
*.log

# Cache
cache/
torch_cache/
.cache/

# AI models
*.pt
*.pth
*.bin
*.onnx
models/
model/
weights/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db