comtypes
gigachat
GPUtil
keyboard
mouse
num2words
numpy
opencv-python
Pillow
psutil
pyautogui
pycaw
pyaudio
pygame
python-dotenv
pyttsx3
pywin32
requests
sounddevice
soundfile
SpeechRecognition
torch
torchaudio
vosk